/**********************************************/
/*******************IPV4 CIDR***************************/
.IPV4-CIDR{
    color: brown;
    font-size: 15px;
    width: 100%;
    clear:both;
    margin-top: 20px;
}
.ipS{
    margin-left: 10px;
    width: 40px;
}
.button-ipS{
    margin-left: 10px;
    width: 100px;
    border: 1px solid;
}
